extends ../layout

block content
    h3 Author
    a(href='/author/add') Add Author
    table
        thead
            tr
                th Author
                th First Name
                th Last Name
                th Book Writen
                th DOB
                th
        tbody
            each book in books
                tr
                    td= author.first_name
                    td= author.last_name
                    td= author.book_written
                    td= author.dob
                    td
                        a(href=`/author/profile/${author.id}`) View Author
